.watch-button {
  position: relative;
}
.watch-toggle {
  position: absolute;
  border-radius: 6px;
  border-top: solid 1px var(--GRAY_300);
  border-left: solid 1px var(--GRAY_300);
  border-right: solid 1px var(--GRAY_300);
  background-color: var(--WHITE);
  width: 320px !important;
  left: 0px;
  top: 36px
}
.watch-toggle > * {
  padding: 20px 10px;
  border-bottom: solid 1px var(--GRAY_300);
}