tbody {
  border-radius: 6px;
  box-shadow: var(--GRAY_300) 0px -1px, var(--GRAY_300) 1px 0px, var(--GRAY_300) -1px 0px;
}
td.filtree_tab-td {
  padding: 0px;
}

td.filetree_document_line_filename-td {
  padding: 10px 16px;
  flex-basis: 175px;
  flex-grow: 2;
}

td.filetree_document_line_commitmessage-td {
  padding: 10px 16px;
  flex-basis: 142px;
  flex-grow: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.filetree_document_line_modifieddate-td {
  padding: 10px 16px 10px 0px;
  width: 120px;
}

tr:first-of-type {
  overflow: hidden;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

tr:last-of-type {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

tr.filetree_tab-tr {
  box-shadow: var(--GRAY_300) 0px 1px;
}
tr.filetree_document_line-tr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: var(--GRAY_300) 0px 1px;
}

.filetree-tab-td {
  padding: 0;
  overflow: hidden;
}