/* button */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}
.btn:hover {
  cursor: pointer;
}
.btn-toggle-seperate {
  display: flex;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
}
/* size */
.btn-logo {
  padding: 0;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.btn-medium {
  padding: 8px 7px;
  height: 32px;
  border-radius: 6px;
}
.btn-body-medium {
  padding: 8px 7px;
  height: 32px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.btn-toggle-medium {
  padding: 8px 7px;
  height: 32px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.btn-small {
  padding: 8px 7px;
  height: 28px;
  border-radius: 6px;
}
.btn-body-small {
  padding: 8px 7px;
  height: 28px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.btn-toggle-small {
  padding: 8px 7px;
  height: 28px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.btn-mini {
  padding: 1px 6px;
  height: 24px;
  border-radius: 6px;
}
/* background color */
.btn-background-white {
  background-color: var(--WHITE);
}
.btn-background-white:hover {
  background-color: var(--HOVER_WHITE);
}
.btn-background-gray_100 {
  background-color: var(--GRAY_100);
}
.btn-background-gray_100:hover {
  background-color: var(--HOVER_GRAY_100);
}
.btn-background-green_300 {
  background-color: var(--GREEN_300);
}
.btn-background-green_300:hover {
  background-color: var(--HOVER_GREEN_300);
}
/* border color */
.btn-border-gray_300 {
  border-color: var(--GRAY_300);
}
/* border width */
.btn-border-0px {
  border: 0px;
}
.btn-border-1px {
  border-width: 1px;
  border-style: solid;
}
/* gap */
.btn-gap_0 {
  column-gap: 0px;
}

.btn-gap_1 {
  column-gap: 1px;
}

.btn-gap_2 {
  column-gap: 2px;
}

.btn-gap_3 {
  column-gap: 3px;
}

.btn-gap_4 {
  column-gap: 4px;
}

.btn-gap_5 {
  column-gap: 5px;
}

.btn-gap_6 {
  column-gap: 6px;
}

.btn-gap_7 {
  column-gap: 7px;
}

.btn-gap_8 {
  column-gap: 8px;
}

.btn-gap_9 {
  column-gap: 9px;
}

.btn-gap_10 {
  column-gap: 10px;
}
/* search */
.flex_search {
  width: 100%;
}