/* default */
svg {
  display: inline-block; /* 선택적인거 같긴 함? */
  user-select: none;
  vertical-align: text-bottom;
  overflow: visible;
}

/* color */
svg.white {
  color: var(--WHITE);
  fill: var(--WHITE);
}
svg.blue_200 {
  color: var(--BLUE_200);
  fill: var(--BLUE_200);
}
svg.gray_400 {
  color: var(--GRAY_400);
  fill: var(--GRAY_400);
}
svg.green_300 {
  color: var(--GREEN_300);
  fill: var(--GREEN_300);
}
svg.red_300 {
  color: var(--RED_300);
  fill: var(--RED_300);
}